$black: #323539;
$white: #ffffff;

$gray: rgba(0,0,0,.5);

$red: #ff5959;
$darkRed: #993535;
$yellow: #facf5a;
$lightGreen: #49beb7;
$darkGreen: #085f63;
$blue: #4381CA;


$accentColor: $yellow;
$secondaryColor: $lightGreen;


$mainFont: 'Courier New', sans-serif;

$trans: cubic-bezier(.86,.21,.55,.86);
